<body>
  <div>
    <ul class="list">
        
    </ul>
  </div>
  <div class="col-12">
    <form action="/stageSelect/" method="get">
      <button type="submit" class="btn btn-primary wide" style="width: 30%;">Back</button>
    </form>
  </div>
</body>
<script src="/badges.js"></script>