<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="elementToFadeInAndOut">
                    <h1>Congratulations!!!</h1>



                    <script>

                        const start = () => {
                            setTimeout(function () {
                                confetti.start()
                            }, 1000);
                        };

                        const stop = () => {
                            setTimeout(function () {
                                confetti.stop()
                            }, 5000);
                        };

                        start();
                        stop();
                    </script>

                    <img class="prizeImg" src="prize.svg" alt="image of a trophy">

                </div>
                <div class="row">
                    <div class="col-6">
                        <form action="/stage1/{{nextStage}}">
                            <input type="submit" id="nextStage" value="Next Stage" class="hide btn btn-primary" />
                        </form>
                    </div>

                    <div class="col-6">
                        <form action="/stageSelect/{{usr}}" method="get">
                            <button type="submit" class="btn btn-primary wide">Back</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="confetti.js"></script>
</body>

</html>