<body>
  <div class="containerAll">
    {{! <h1>WhatAmI?</h1> }}
    <div class="row">
      <div class="col-12">
       <h2>Select Stage To Play</h2> 
      </div>
    </div>


         <div class="row flex">
      <div class="col-4 stageSelect">
        <a href="/stage1/1"> <img src="fruits.png" alt="image of a fruit"></a>
      </div>
      <div class="col-4 stageSelect">
        <a href="/stage2/1"><img src="superheroes.png" alt="image of a fruit"></a>
      </div>
      <div class="col-4 stageSelect">
        <a href="/stage3/1"><img src="kitchen.png" alt="image of kitchen appliances"></a>
      </div>
    </div>
    <div class="row flex">
      <div class="col-4 stageSelect">
        <a href="/stage4/1"><img src="countries.png" alt="image of countries"></a>
      </div>
      <div class="col-4 stageSelect">
        <a href="/stage5/1"><img src="fastfood.png" alt="image of fast foods"></a>
      </div>
      <div class="col-4 stageSelect">
        <a href="/stage6/1"> <img src="classroom.png" alt="image of a classroom"></a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-2">
        <a href="/badges" class="btn btn-primary">Badges</a>
      </div>
      <div class="col-2">
        <a href="/titles" class="btn btn-primary">Titles</a>
      </div>
      <div class="col-4"></div>
    </div>
    <br>
    </div>
  </div>
</body>
<script src="/client.js"></script>