<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="mainScreen">
        <div class="spacer"></div>
        <h4 class="diplay">Fruits</h4>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/fruits.png" alt="Image of a fruit" />
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text wordDesc"></p>
            <button
              class="btn btn-primary"
              onclick="runSpeechRecognition('{{word}}')"
            >Start Speaking</button>
            <br />
            <span id="action"></span>
            <br />
            <div id="output" class="hide"></div>
            <br />
            <form action="/stage1/{{nextStage}}">
              <input
                type="submit"
                id="nextStage"
                value="Next Stage"
                class="hide btn btn-primary"
              />
            </form>
          </div>
        </div>
        <script>
          const descElem = document.querySelector('.wordDesc');
          descElem.innerHTML = '{{obj}}';
        </script>
      </div>

    </div>
    <div class="col-1">

    </div>
    <div class="col-4">
      <div class="sideNav">
        <h5>Experience :</h5><span class="expSpan"></span>
        <h5>Level : </h5><span class="lvlSpan"></span>
        <h5>Score : </h5><span class="scrSpan"></span>
      </div><br />
      <form action="/stageSelect/{{usr}}" method="get">
        <button type="submit" class="btn btn-primary wide">Back</button>
      </form>
    </div>
  </div>
</div>
<script src="/stageCl.js"></script>