<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="/public/fruitsBanner.jpeg" alt="">

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Stage 1</h1>
        </div>
        <div class="col-4"></div>
    </div>
</div>

