<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Stage 3</h1>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="mainScreen">
                <div class="spacer"></div>
                <h4 class="diplay">fruits</h4>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus tempora deserunt incidunt iure sunt dolor possimus impedit fuga. Harum doloribus, dolorem autem alias amet hic qui ducimus eaque vel. Enim!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-1">

        </div>
        <div class="col-4">
            <div class="sideNav">
                <h5>Player Name : {{player}}</h5>
                <h5>Experience : {{exp}}</h5>
                <h5>Level : {{Level}}</h5>
                <h5>Score : {{score}}</h5>

            </div>
        </div>
    </div>
</div>